*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 145px);
    overflow: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
}

/* HEADER */
.menu-top{
    height: 65px;
    background-color: black;
    color: white;
}

.icon-top{
    display: flex;
    justify-content: flex-end;
}

.icon-top span{
    background-color: rgba(128, 128, 128,.6);
    margin: 5px;
    padding: 2px 5px;
    border-radius: 6px;
}

/* MAIN */
.partecipant{
    position: relative;
    display: inline-block;
}

.partecipant span{
    bottom: 2px;
    left: 0px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0,.3);
    padding: 2px 5px;
}

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    background-color:#222222 ;
    height: 80px;
    color: white;
    justify-content: space-between;
}


footer .footer-left{
    display: flex;
    flex-shrink: 0;
}

footer .footer-center{
    display: flex;
    flex-shrink: ;
}

footer .footer-right{
    display: flex;
    flex-shrink: 0;
}

.icon.active i{
    color: rgb(114, 185, 6);
}

footer .icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

footer .icon i{
    font-size: 30px;
    margin-bottom: 5px;
}

footer .icon span{
    font-size: 13px;
}

footer .footer-right button{
    background-color: grey;
    color: red;
    border: 0;
    height: 100%;
    padding: 30px;
    cursor: pointer;
}